# Unity generated
/Temp/**
/Library/**
/obj/**

# Visual Studio / MonoDevelop generated
/ExportedObj/**
/obj
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

*.csproj
*.cache
*Resharper*
*ReSharper*
*.orig
*.orig.*
*sln*
.idea/**

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
report.xml

# FMOD
/Assets/FMODStudioCache.asset
/Assets/FMODStudioCache.asset.meta
fmod.log
fmod_editor.log

# Project specific
/ProjectSettings/**
/Assets/Resources/FMODStudioSettings.asset
/Assets/Resources/FMODStudioSettings.asset.meta 
Assets/Cinemachine/CinemachineExamples.unitypackage
Assets/Cinemachine/Timeline/LegacyTimelineAPI.unitypackage
Assets/FMODStudioCache.asset
Assets/Resources/FMODStudioSettings.asset
Assets/StreamingAssets/Character.bank
Assets/StreamingAssets/Character.bank.meta
Assets/StreamingAssets/Master Bank.bank
Assets/StreamingAssets/Master Bank.strings.bank
Assets/StreamingAssets/SFX.bank
Assets/StreamingAssets/SFX.bank.meta
Assets/StreamingAssets/test.meta
Assets/StreamingAssets/test/New Animation.anim
Assets/StreamingAssets/test/New Animation.anim.meta
fmod_editor.log
